/* ===========================
   Buttons
=========================== */

button{

    border-radius:12px !important;

}

/* ===========================
   Cards
=========================== */

.mat-mdc-card{

    border-radius:18px !important;

    box-shadow:
        0 8px 24px rgba(15,23,42,.05) !important;

}

/* ===========================
   Form Fields
=========================== */

.mat-mdc-form-field{

    width:100%;

}

/* ===========================
   Tables
=========================== */

table{

    width:100%;

    border-collapse:collapse;

}

th{

    color:var(--text-secondary);

    font-weight:600;

}

td{

    padding:18px 0;

}