<h2 mat-dialog-title>

    Request Auction

</h2>

<mat-dialog-content>

    <p>

        <strong>Crop</strong>

    </p>

    <p>

        {{ data.cropName }}

    </p>

    <form [formGroup]="form">

        <mat-form-field
            appearance="outline"
            class="full-width">

            <mat-label>

                Remarks (Optional)

            </mat-label>

            <textarea
                rows="4"
                matInput
                formControlName="farmerRemarks">
            </textarea>

        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

    <button
        mat-button
        (click)="cancel()">

        Cancel

    </button>

    <button
        mat-raised-button
        color="primary"
        (click)="submit()">

        Submit Request

    </button>

</mat-dialog-actions>