table {
    width: 100%;
}

mat-form-field {
    width: 350px;
    margin-bottom: 16px;
}

h2 {
    margin-bottom: 20px;
}

.status-chip {

    display: inline-block;

    color: white;

    padding: 6px 12px;

    border-radius: 16px;

    font-size: 12px;

    font-weight: 600;

    text-transform: uppercase;

}